.ipynb_checkpoints/
.nfs*
data/
*.pyc
*.scratch
usleep-pytorch/lightning_logs/
*.hdf5
*.txt
*.pyc
**/*.ipynb_checkpoints/
.ipynb_checkpoints
lseqsleepnet-pytorch/datasets/
lseqsleepnet-pytorch/lightning_logs/
lseqsleepnet-pytorch/spectrograms/
lseqsleepnet-pytorch/preprocessing/dcsmspectro

lightning_logs/

*.parquet
*.pickle
*.mat
*.txt
*.pyc

results/
.neptune/
lseqsleepnet_pytorch/model/__pycache__/

lseqsleepnet_pytorch/pytorch_datasets/datastream/
*.png
lseq_results/THES-348/metrics/
